@model List<User>

@{
    ViewData["Title"] = "Users Index";
}

<h1>Index</h1>
<h4>List users</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<ul>
    @foreach(var user in @Model)
    {
        <li><a asp-controller="User" asp-action="Details" asp-route-id="@user.Id">@user.Name</a></li>
    }
</ul>

